# Feature powerset in `cargo hack` is opt-in.
# Only enable when needed
[tasks.test]
command = "cargo"
args = ["hack", "t", "--lib", "--feature-powerset"]

[tasks.doc_test]
command = "cargo"
args = ["t", "--doc", "--all-features"]

[tasks.watch_doc]
env = { RUSTDOCFLAGS="--cfg docsrs" }
command = "cargo"
args = ["watch", "-w", "src", "-x", "+nightly doc --all-features --no-deps"]

[tasks.readme]
command = "cargo"
args = ["readme", "--output", "README.md"]

[tasks.doc]
env = { RUSTDOCFLAGS = "--cfg docsrs" }
command = "rustup"
args = ["run", "nightly", "cargo", "doc", "--all-features", "--no-deps"]

[tasks.check]
command = "cargo"
args = ["hack", "check", "--feature-powerset"]

[tasks.tree]
command = "cargo"
args = ["hack", "tree", "-e", "normal,features", "-f", "\"{p} {f}\"", "--feature-powerset"]

[tasks.semver]
command = "cargo"
args = ["semver-checks", "check-release"]

[tasks.no_std]
command = "cargo"
args = []